RewriteEngine On
RewriteBase /public/

# Si le fichier demandé n'existe pas, redirigez vers index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]
