.roulette-container {
  text-align: center;
  margin-top: 20px;
}

.wheel {
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
}

svg {
  border: 1px solid #ccc;
  border-radius: 50%;
}

rect {
  stroke: blue;
  stroke-width: 2;
}

p {
  font-weight: bold;
  margin-top: 10px;
}

/* Add additional styles as needed */




/* Ajoutez cette classe dans votre fichier CSS */
.highlighted-section {
  filter: brightness(1.5); /* Par exemple, augmentez la luminosité pour mettre en évidence */
}




.triangle-container {
  position: relative;
  width: 200px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  margin-top: -200px; /* Ajustez la marge pour positionner le triangle au-dessus */
}
